body, html {
  font-family: 'SF Pro Display', sans-serif;
  color:#000000;
  margin: 0;
}


.header {
  background-image: url('../header.jpg');
  height:350px;
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-align: center;
}

h1 {
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 72px;
padding-top: 100px;
}

h2 {
  font-style: normal;
font-weight: 400;
line-height: normal;
font-size: 48px;
}

h3 {
  font-weight: 600;
line-height: normal;
font-size: 24px;
padding-top: 36px;
padding-bottom: 24px;

color: #2F80ED;
}

h4 {
  font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 18px;
}

p {
  font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: justify;
}
.card {
  border-radius: 20px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.14);
  margin: 5%;
}

.card-img-top {
  background-image: url('../sample.jpg');
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 115px;
}

.info {
  font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: justify;
padding-left: 8px;
color: rgba(0, 0, 0, 0.2);
}

.icon {
  color: rgba(0, 0, 0, 0.2);
}

.create {
  text-align: center;
  width: 100px;
  margin: auto;
}

.upcoming{
	width: 100%;
}
.new-card {
  width: 171px;
  height: 264px;
  text-align: center;
}

.new-card img {
  height: 50px;
  width: 50px;
  margin: 80px auto 0 auto;
}

.login-button, .login-button:focus, .login-button:active{
	background-color: rgba(256, 256, 256, 1);
	opacity: 100%;
	border-radius: 28px;
	color: #2F80ED;
	position: absolute;
	margin-top: 1%;
}
.buttons{
	display: flex;
	justify-content: flex-end;
	margin-right: 1%;
}
.login-button:hover{
	background-color: rgba(256, 256, 256, 0.7);
	border-radius: 28px;
}
.flexbox{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.row{
	margin: 0 10%;
}

@media only screen and (max-width: 555px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
}
